.About-imageText-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  width: 100vw;
}

.About-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  margin-right: 40px;
}

.About-text-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 100%;
  font-size: 20px;
  word-spacing: 5px;
  line-height: 35px;
  font-weight: 500;
  text-align: center;
  flex-wrap: wrap;
  padding: 30px;
}

.About-show-content-center {
  justify-content: center;
}

.About-heading-center {
  text-align: center;
  margin-bottom: 5px;
}

.About-heading-left-margin {
  margin-left: 200px;
}

.About-show-text-inline {
  display: inline;
  border-radius: 10px;
  padding: 10px;
  color: rgb(100, 100, 100);
  margin-bottom: 7px;
}

.top-padding {
  padding-top: 50px;
}

.text-width {
  font-weight: 600;
}

.About-margin-bottom {
  margin-bottom: 100px;
}

.heading-underline-thik {
  width: 90%;
  height: 5px;
  margin: auto;

  border-radius: 5px;
}

.heading-underline-thik-pluse {
  width: 90%;
  height: 10px;
  margin: auto;
  background-image: linear-gradient(135deg, #FD6E6A 10%, #FFC600 100%);
  border-radius: 5px;
  margin-bottom: 70px;
}

.About-heading-font-size {
  font-size: 45px;
  font-weight: 600;
  margin-left: 120px;
  padding: 10px;
  margin-top: 20px;
}

.About-text-color-pink {
  color: #6f00ff;
  font-size: 20px;
}

.heading-underline-short {
  width: 100%;
  height: 5px;
  margin: 10px auto auto auto;
  ;
  border-radius: 5px;
}

.yellow-red-gradiant {
  background-image: linear-gradient(135deg, #3cc5d7, #47d794);

}

.lightblue-purpel-gradiant {
  background-image: linear-gradient(90deg, #00DBDE, #FC00FF 100%);
}