.main-container {
    font-family: "Poppins", sans-serif;
    flex-direction: column;
    font-weight: 400;
    font-style: normal;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.website-logo-div {
    margin: 0px 50px 40px 50px;
}

.login-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 0px gray, 0px 0px 10px grey;
    padding: 25px; 
    /* 25 */
    text-align: center;
    border-radius: 25px;
    overflow: hidden;
}

.input-feilds {
    margin: 10px;
    /* 10 */
    padding: 5px;
    border-radius: 5px;
}


#login-button {
    background-color: rgb(0, 64, 255);
    border: 1px solid rgb(0, 64, 255);
    border-radius: 10px;
    width: 90%;
    margin: 5px;
}

#signup-button {
    background-color: lime;
    border: 1px solid lime;
    border-radius: 10px;
    width: 90%;
}

.login-button-div {
    margin-top: 20px;
    width: 100%;
}

#signup-button {
    background-color: rgb(43, 185, 0);
    border: 1px solid rgb(43, 185, 0);
}

.input-button {
    padding: 10px;
    color: white
}   

.pass_instruction_mess{
    font-size: 10px;
    color: red;
}