    .product-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .product-image-conatiner {
        display: flex;
        position: relative;
        justify-content: center;
        height: 400px;
        margin: 20px;
    }

    .product-info-conatiner {
        margin: 20px;
        width: 400px;
    }

    .product-detail-text {
        margin-bottom: 10px;
    }

    .addtocart-button-container {
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    .addtocart-button {
        font-size: 20px;
        padding: 10px;
        width: 400px;
        background-color: rgb(255, 204, 0);
        border: 1px solid rgb(255, 204, 0);
        border-radius: 5px;
    }

    .advertise-container {
        display: flex;
        margin: 10px auto 0px auto;
        z-index: 0;
        justify-content: center;
    }

    .advertise-item-container {
        display: flex;
        flex-wrap: wrap;
    }

    .advertise-img-changing-button {
        position: absolute;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        padding: 5px;
        border: none;
        color: #4800ff;
        background-color: rgba(137, 137, 137, 0.048);
        top: 46%;
    }

    .advertise-img-changing-next-button {
        right: 1%;
    }

    .advertise-img-changing-previous-button {
        left: 1%;
    }

    .advertise-image-container {
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        position: relative;
        width: 100%;
        max-width: 1400px;
        height: 300px;
        margin: 5px auto;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;

    }

    .advertise-image {

        overflow: hidden;
        width: 100%;
        height: 100%;

    }

    .similar-product-container {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
    }

    .page-heading-grey-underline {
        padding: 20px;
        width: 80%;
        margin: auto;
        border-bottom: 2px solid grey;
    }

    .product-image-container-button-right100 {
        right: 100;
    }

    .image-change-button {
        margin-top: 50%;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: none;
        position: absolute;
    }

    .image-conatiner {
        display: flex;
        justify-content: center;
        width: 350px;
    }