.User-cart-page-main-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* .Cart-Card {
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    border: 3px solid rgb(146, 0, 0);
    border-radius: 10px;
    width: 160px;
    height: 225px;
    border-radius: 10px;
    display: inline-block;
    margin: 5px;
    border: 3px solid rgb(231, 231, 231);
    padding: 3px;
    overflow: hidden; 
} */

/* .Cart-Card-product-image-info-conatiner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Cart-Card-image-container {
    display: inline;
    width: 49%;
    height: 49%;
    border: 1px solid purple;
}

.Cart-Card-info-conatier {
    border: 1px solid rgb(0, 53, 128);
    width: 49%;
    height: 49%;
    display: inline;
} */

.cart-delet-product-button {
    background: rgb(255, 68, 68);
    color: white;
    border: 1px solid rgb(155, 68, 68);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}

.Cart-Card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 160%;
    height: 350px;
    border-radius: 10px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 3px;
    overflow: hidden;
}

.cart-card-section1 {
    display: flex;
    flex-direction: column;
    width: 99%;
}

.cart-card-img-container {
    width: 100%;
    /* border: 5px solid red; */
    display: flex;
    align-items: center;
    overflow: hidden;
}

.cart-text-container {
    align-items: center;
    width: 99%;
    /* border: 5px solid green; */
}

.cart-card-img {
    width:99%;
    height: 99%;
}

.cart-card-text-price {
    font-weight: 900;
}