.User-cart-page-main-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cart-delet-product-button {
    background: rgb(255, 68, 68);
    color: white;
    border: 1px solid rgb(155, 68, 68);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}

.Cart-Card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 160%;
    height: 350px;
    border-radius: 10px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 3px;
    overflow: hidden;
}

.cart-card-section1 {
    display: flex;
    flex-direction: column;
    width: 99%;
}

.cart-card-img-container {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.cart-text-container {
    align-items: center;
    width: 99%;
}

.cart-card-img {
    width:99%;
    height: 99%;
}

.cart-card-text-price {
    font-weight: 900;
}

.put_line_height{
    line-height: 25px;
}