.back-button{
    display: flex;
    align-items: center;
    border: 1px solid #4800ff;
    background-color: #4800ff;
    color: white;
    padding: 5px;
    font-size: 25px;
    border-radius: 50%;
}